html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    margin: unset!important;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: inherit;
}
p:empty {
    display: none;
  }
strong{
    font-weight: 600;
}
/* @font-face {
    font-family: 'Barlow Regular',sans-serif;
    src: url('../font/Barlow-Regular.ttf');
    src: local('../font/Barlow-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Medium',sans-serif;
    src: url('../font/Barlow-Medium.ttf');
    src: local('../font/Barlow-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Bold';
    src: url('../font/Barlow-Bold.ttf');
    src: local('../font/Barlow-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow SemiBold';
    src: url('../font/Barlow-SemiBold.ttf');
    src: local('../font/Barlow-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
} */

@font-face{
    font-family:'Calibri',sans-serif ;
    src: url('../font/Calibri-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, nav{
   font-family: 'Barlow';
}
p{
    font-family: 'Calibri';
}
img{
    max-width: 100%;
}
.container_bckg{
    background-color: #F3F3F3 ;
}