/*Mobile First*/

.banniere_desktop{
    display: none;
}

/* carousel intro*/
/* .carousel1_sacré img{
    padding: 5px;
    object-fit: cover;
    height: 90px;
    width: 100%;
} */

/* carousel oeuvre*/
.container_carousel_oeuvre{
    margin-bottom: 50px;
    margin-top: 30px;
}
.carouselOeuvreSacre .slick-prev{
    left: 65px;
    bottom: -49px;
    top: unset;
}
.carouselOeuvreSacre .slick-next{
    right: 65px;
    bottom: -49px;
    top: unset;
}
.carouselOeuvreSacre .slick-dots{
    width: unset;
    left: 85px;
    bottom: -40px;
}
.contain_sacre img{
    padding: 10px;
    height: 340px;
}
.container_card{
    display: flex;
}
.oeuvre_annee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.annee{
    width: 100px;
    background-color: black;
    height: 36px;
    display: flex;
    justify-content: center;
    transform: rotate(270deg);
}
.annee p{
    padding-top: 10px;
    color: white;
    font-weight: 100;
    font-size: 13px;
}
.numero{
    display: flex;
    justify-content: center;
    height: 31px;
    background-color: #9A9DBC;
    width: 36px;
    text-align: center;
    margin-top: 31px;
}
.numero p{
    color: white;
    margin-top: 6px;
}
.descriptionOeuvre{
    padding: 0px 5px;
    /* margin-left: 35px; */
}
.descriptionOeuvre h5{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'calibri';
    font-weight: 600;
    margin-top: 10px;
}
.descriptionOeuvre h5 span{
    color: #9A9DBC;
}

/* partie filtre */
.description_oeuvreSacre{
    display: none;
}
.container__gridSacre div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container__gridSacre{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "one two"
    "one three"
    "four four"
    "five five"
}
.uno{
    grid-area: one;
}
.dos{
    grid-area: two;
}
.tres{
    grid-area: three;
}
.quatro{
    grid-area: four;
}
.cinco{
    grid-area: five;
}
.container_all_gridSacre{
    margin-bottom: 40px;
}

@media (min-width:768px){
    .carouselOeuvreSacre .slick-prev{
        left: 39%;
        bottom: -59px;
        top: unset;
    }
    .carouselOeuvreSacre .slick-next{
        right: 40%;
        bottom: -59px;
        top: unset;
    }
    .carouselOeuvreSacre .slick-dots{
        width: unset;
        left: 43%;
        bottom: -50px;
    }
    .container_all_gridSacre{
        padding: 60px;
    }
}

@media (min-width:1024px){
    .carouselOeuvreSacre{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .carouselOeuvreSacre > div{
        width: 30%;
        margin-bottom: 40px;
    }
    .descriptionOeuvre{
        margin-left: -20px;
    }
    .container_all_gridSacre{
        width: 75%;
        margin: auto;
        padding: unset;
        margin-bottom: 40px;
    }
    .description_oeuvre_bckgSacre{
        position: absolute;
        width: 30%;
        color: white;
        left: 40%;
        background-color: black;
        opacity: 65%;
        height:190px;
    }
    .description_oeuvreSacre{
        padding: 15px;
        font-weight: 900;
        width: 30%;
        position: absolute;
        color: white;
        left: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container__gridSacre{
        display: grid;
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 190px 190px 250px;
        grid-template-areas: 
        "one two three"
        "one four four"
        "five five five"
    }
}

@media (min-width:1366px){
    .banniere_desktop{
        display: block;
    }
    .banniere_mobile{
        display: none;
    }
    .container__gridSacre{
        display: grid;
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 250px 190px 250px;
        grid-template-areas: 
        "one two three"
        "one four four"
        "five five five"
    }
    .description_oeuvre_bckgSacre{
        height: 250px;
    }
    .description_oeuvreSacre{
        padding: 50px;
    }
    .carousel1_sacré img{
        height: 140px;
    }
    .container_carousel_oeuvre{
        margin-top: 40px;
    }
}

@media (min-width:1400px){
    .numero{
        margin-top: 31px;
    }
    .container_all_gridSacre{
        width: 60%;
    }
}